<div class="container pt-3">
    <!--Breadcrumb-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" style="color: black;" routerLink="/">
                    <i class="fa fa-house"></i>
                </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                <a href="#" class="text-decoration-none" style="color: black;" routerLink="/contact">iletişim</a>
            </li>
        </ol>
    </nav>

    <div class="row">
        <!--Left side-->
        <span class="h4">İletişim Bilgileri</span>
        <div class="card mt-3 p-3 col-6">
            <h5>Bize Ulaşın</h5>
            <div class="need-help">
                <h6 class="mt-3">Yardıma mı ihtiyacınız var?</h6>
                <a href="#" routerLink="/help" class="btn btn-help w-100 mt-2">
                    <i class="bi bi-headset"></i>
                    Destek Talebi Oluştur</a>
            </div>
        </div>

        <!--Right side-->
        <div class="card mt-3 p-3 col-6"></div>
    </div>
</div>