<div class="container pt-3">
    <!--Breadcrumb-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" style="color: black;" routerLink="/">
                    <i class="fa fa-house"></i>
                </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                <a href="#" class="text-decoration-none" style="color: black;" routerLink="/about">hakkımızda</a>
            </li>
        </ol>
    </nav>

    <div class="card mt-3 p-3">
        <div class="row">

            <div class="col-md-6">
                <h4>Hakkımızda</h4>
                <br>
                <h5>Her Pati Bir Yuvayı Hak Eder.</h5>
                <span class="hero-text mt-3">
                    PawsomeHome, hayvanların sevgi dolu yuvalara kavuşmasını kolaylaştırmak için
                    tasarlanmış
                    bir hayvan
                    sahiplenme platformu
                    konseptidir. <br><br>
                    Amacımız, insanların kendileri için doğru dostu keşfetmesine ve bilinçli
                    sahiplenme
                    sürecini daha kolay
                    deneyimlemesine yardımcı olmaktır.</span>
                <button class="button fs16 mt-3 d-block">Dostunu Keşfet →</button>
            </div>


            <div class="col-md-6">
                <img src="/cat.jpg" class="alt-image d-flex ms-auto" alt="">
            </div>
        </div>
    </div>
</div>