@import '../../../styles/colors.scss';

.nav-item {
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary-dark;
        transition: transform 0.25s ease-out;
        transform-origin: bottom center;
    }

    &:hover {
        &::after {
            transform: scaleX(1);
            transform-origin: bottom center;
        }
    }
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);

    a {
        color: $primary-dark;
    }

    .dropdown-menu {
        background-color: rgba(255, 255, 255, 1);
    }
}