@import '../../../styles/colors.scss';

.home {
    color: $background;
}

// .bubble {
//     margin-top: auto;
//     bottom: 1vh;
//     position: fixed;
//     border-radius: 5vh;
//     padding: 10px;
//     scroll-behavior: smooth;
//     z-index: 2;

//     svg {
//         height: 5vh;
//         width: 5vh;
//         border-radius: 5vh;
//     }
// }

.hero-bg {
    @media (max-width: 768px) {
        position: absolute;
        margin-top: 0;
    }

    @media (min-width:992px) {
        margin-top: -62px;
    }

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    max-width: 100%;
    box-sizing: border-box;
    z-index: -1;

    @media (max-width:576px) {
        margin-top: 0;
    }
}

.hero-section {
    position: relative;
    height: 738px;
}

.ellipse {
    width: 680px;
    height: 680px;

    opacity: 50%;
    filter: blur(300px) opacity(60%);
    position: absolute;

}

.ellipse-secondary {
    background-color: #D3708B;
    left: 93%;
    top: 25%;
}

.ellipse-primary {
    background-color: #00BBFF;
    opacity: 35%;
    right: 93%;
    top: 60%;
}

.text {
    padding-top: 282px; //220
    margin-left: 30px;
    line-height: 135px;
    font-size: 88px;
    color: $background;

    @media (max-width:576px) {
        padding-top: 50%;
    }
}

.bg-container {
    height: 100%;
    /* background: rgb(112, 131, 176);
    background: linear-gradient(135deg, rgba(112, 131, 176, 1) 0%, rgba(181, 147, 171, 1) 100%); */

    .hidden {
        height: 150px;
        visibility: hidden;
    }
}

.button {
    width: 100%;
    font-weight: 600;
    letter-spacing: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    transform: translateY(0);

    &:hover {
        transform: scale(1.1) translateY(-5px);
    }
}

.alt-image {
    width: 400px;
    height: 418px;
    object-fit: cover;
    object-position: center 80%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width:992px) {
        width: 100%;
    }
}

.adopt-container {
    margin-top: 150px;

    .button {
        background-color: $secondary;
    }
}

.sponsors-container {
    margin-top: 150px;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-content: center;

    .logo {
        height: 70px;
        width: auto;
        display: block; //
        margin: 0 auto; // center

        filter: invert(45%) sepia(87%) saturate(278%) hue-rotate(175deg) brightness(88%) contrast(88%) opacity(80%);
    }
}

.hiw-container {
    margin-top: 150px;
    width: 100%;

    .hiw-box {
        height: 170px;
        border-radius: 20px;
        margin-bottom: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h2 {
        margin-top: 30px;
        margin-left: 15px;
    }

    p {
        margin-top: 30px;
        margin-left: 90px;
    }

    .box-primary {
        background-color: $primary;
    }

    .box-secondary {
        background-color: $secondary;
    }

    .box-accent {
        background-color: $accent;
    }

    @media (max-width:992px) {
        p {
            margin-left: 0px;
        }

        .empty {
            display: none;
        }
    }
}

.stories-container {
    margin-top: 150px;

    h1 {
        text-align: center;
    }

    .story-box {
        margin-top: 50px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $secondary;
        height: 100%;
        width: 616px;
        padding: 0;
        position: relative;
        overflow: hidden;

        img {
            width: 219px;
            height: calc(100% - 48px);
            object-fit: cover;
            margin: 24px;
            border-radius: 14px;
        }

        .img-zoom {
            height: 280px;
        }

        .img-left {
            object-fit: cover;
            object-position: 70%;
        }

        h3 {
            margin-top: 24px;
            margin-bottom: 32px;
        }

        p {
            width: 307px;
        }

        .author {
            text-align: right;
        }

    }

    @media (max-width:576px) {
        .story-box {
            img {
                width: 100%;
                margin: 0;
                padding: 12px;
                border-radius: 20px;
                height: 100%;
            }

            .img-zoom {
                width: 100%;
                margin: 0;
                padding: 12px;
                border-radius: 20px;
            }

            h3 {
                margin-top: 12px;
                margin-bottom: 16px;
                margin-left: 12px;
            }

            p {
                width: calc(100% - 20px);
                margin-left: 12px;
            }
        }
    }

    @media (max-width:992px) {
        .story-box {
            width: 100%;
        }
    }

}

@media (max-width:768px) {
    .m-mt {
        margin-top: 1rem;
    }
}


@media (min-width:1440px) {}