@import '../../../../styles/colors.scss';

.container-filter {
    color: black;

    .card {
        background-color: rgba(255, 255, 255, 0.2);
        color: black;
        border-radius: 10px;
    }

    .form-select {
        background-color: rgba(255, 255, 255, 0.2);
        color: black;
    }

    .dropdown-menu {
        max-height: 350px;
        overflow-y: auto;
    }

    .dropdown-item:hover {
        background-color: $primary;
        color: #ffffff;
    }

    .btn {
        background-color: rgba(255, 255, 255, 0.2);
        color: black;
    }

    .form-check-input {
        background-color: $background;
        border-color: $primary;

        &:checked {
            background-color: $primary;
            border-color: $primary;
        }
    }

    .btn-group {
        .btn-check:checked+.btn {
            background-color: rgba(255, 255, 255, 0.4);
            border-color: $primary;
        }
    }
}