@import 'styles/colors.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
/* You can add global styles to this file, and also import other style files */

:root {
    font-size: 16px;
}

html {}

body {
    overflow-x: hidden;
}

* {
    font-family: "League Spartan", sans-serif;
}


.fs16 {
    font-size: 1rem;
}

.fs18 {
    font-size: 1.125rem;
}

.fs20 {
    font-size: 1.25rem;
}

.fs24 {
    font-size: 1.5rem;
}

.fs32 {
    font-size: clamp(1.5rem, 4vw + 0.5rem, 2rem);
}

.fs36 {
    font-size: clamp(1.5rem, 5vw + 0.5rem, 2.25rem);
}

.fs40 {
    font-size: clamp(1.75rem, 5vw + 0.5rem, 2.5rem);
}

.fs48 {
    font-size: clamp(2rem, 6vw + 0.5rem, 3rem);
}

.fs56 {
    font-size: clamp(2.25rem, 7vw + 0.5rem, 3.5rem);
}

.fs64 {
    font-size: clamp(2.25rem, 9vw + 0.5rem, 4rem);
}

.fs72 {
    font-size: clamp(2.5rem, 8vw + 0.5rem, 4.5rem);
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-family: "Archivo Narrow", sans-serif;
    font-style: italic;
}

.button {
    background-color: $primary;
    border-radius: 92px;
    color: $background;
    height: 77px;
    border: none;
}

.fw200 {
    font-weight: 200;
}